.sign-up {
    color: white;
    background-color: #eb637a;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.sign-in {
    width: 300px;
    display: block;
    padding: 12px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: rgba(242,242,242,255);
    border: none;
    background-image: linear-gradient(to bottom right,#e66462,#e36286);
    color: white;
    cursor: pointer;
}