.form-checkbox {
    input[type="checkbox"] {
        accent-color: rgba(221,97,140,255);
        width: 10px;
        height: 10px;
    }
    label {
        font-size: 12px;
        margin-left: 5px;  
    }

}