.error-user {
    height: 6px;
    p {
        color: red;
        font-size: 10px;
    }
}
.error-password {
    height: 11px;
    p {
        color: red;
        font-size: 10px;
    }
}  
// .error {
//     color: red;
//     font-size: 10px;
// }