.form-input {
    input[type="email"],input[type="password"]{
        width: 300px;
        display: block;
        padding: 12px;
        border-radius: 15px;
        margin: 0 auto;
        margin-block: 8px;
        background-color: rgba(242,242,242,255);
        border: none;
    }
    label {
        font-size: 10px;
        font-weight: 700;
    }
}